<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2013 See AUTHORS file.
  
  This file is part of SleepFighter.
  
  SleepFighter is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  SleepFighter is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  See the GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with SleepFighter. If not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.chalmers.dat255.sleepfighter"
    android:versionCode="3"
    android:versionName="0.3" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="se.chalmers.dat255.sleepfighter.SFApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="se.chalmers.dat255.sleepfighter.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="se.chalmers.dat255.sleepfighter.activity.GlobalSettingsActivity"
            android:label="@string/title_activity_global_settings"
            android:parentActivityName="se.chalmers.dat255.sleepfighter.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.chalmers.dat255.sleepfighter.activity.MainActivity" />
        </activity>

        <!-- START: Alarm settings related activities -->
        <activity
            android:name="se.chalmers.dat255.sleepfighter.activity.AlarmSettingsActivity"
            android:label="@string/title_activity_alarm_settings"
            android:parentActivityName="se.chalmers.dat255.sleepfighter.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.chalmers.dat255.sleepfighter.activity.MainActivity" />
        </activity>
        <activity
            android:name="se.chalmers.dat255.sleepfighter.activity.RingerSettingsActivity"
            android:label="@string/title_alarm_ringer_settings"
            android:parentActivityName="se.chalmers.dat255.sleepfighter.activity.AlarmSettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.chalmers.dat255.sleepfighter.activity.AlarmSettingsActivity" />
        </activity>

        <activity
            android:name="se.chalmers.dat255.sleepfighter.activity.ChallengeSettingsActivity"
            android:label="@string/title_alarm_challenge_settings"
            android:parentActivityName="se.chalmers.dat255.sleepfighter.activity.AlarmSettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.chalmers.dat255.sleepfighter.activity.AlarmSettingsActivity" />
        </activity>

        <activity
            android:name="se.chalmers.dat255.sleepfighter.activity.PlaylistSelectActivity"
            android:label="@string/title_activity_playlist_select" >
        </activity>

        <!-- END: Alarm settings related activities -->

        <receiver android:name="se.chalmers.dat255.sleepfighter.receiver.AlarmReceiver" >
        </receiver>

        <activity
            android:name="se.chalmers.dat255.sleepfighter.activity.AlarmActivity"
            android:label="@string/app_name"
            android:showOnLockScreen="true" >
        </activity>

        <service android:name="se.chalmers.dat255.sleepfighter.service.AlarmPlannerService"></service>

        <receiver android:name="se.chalmers.dat255.sleepfighter.receiver.AlarmRebootSetter">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="se.chalmers.dat255.sleepfighter.activity.ChallengeActivity"
            android:label="@string/pre_chal_act" >
        </activity>
       
        <service
            android:name="se.chalmers.dat255.sleepfighter.audio.AudioService"
            android:exported="false" >
            <intent-filter>
                <action android:name="se.chalmers.dat255.sleepfighter.audio.AudioService.PLAY" />
                <action android:name="se.chalmers.dat255.sleepfighter.audio.AudioService.STOP" />
            </intent-filter>
        </service>
    </application>

</manifest>
